*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #f6f8f9;
}

/* HEADER */

header{
    background-color: white;
    padding: 10px 30px;
}

.title, .logo{
    display: inline-block;
    vertical-align: middle;
}

.logo{
    width: 70px;
}

.title{
    font-size: 50px;
    margin-left: 5px;
}

/* CONTAINER MACROSECTION */

.container{
    width: 75%;
    background-color: white;
    margin: 50px auto;
    border-radius: 8px;
}

/* INTERACTIONS */

.interactions{
    height: 60px;
    padding: 20px 50px 8px;
    border-bottom: 3px solid #f6f8f9;
}

.button{
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    font-size: 14px;
}

.b1{
   background-color: #47acf1; 
   color: white;
   border: 2px solid #47acf1; 
   
}

.b2{
    margin-left: 3px;
    color: #d9dde0;
    border: 2px solid #d9dde0;
}

.b2:hover{
    background-color: #47acf1; 
    color: white;
    border: 2px solid #47acf1; 
    
}
 
.b1:hover{
    background-color: white;
    margin-left: 3px;
    color: #d9dde0;
    border: 2px solid #d9dde0;
}

/* LISTS COMMON RULES */

ul{
    list-style: none;
    font-size: 18px;
    color: #434950;
}

.list{
    padding: 30px 50px 8px;
}

li{
    margin-bottom: 20px;
}

summary{
    margin-bottom: 12px;
    color: #434950;
    font-weight: 700;
    font-size: 20px;
}

summary:hover{
    cursor: pointer;
}

.status{
    display: inline-block;
    margin-right: 10px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    border-radius: 50%;
    border: 1px solid;
}

.check{
    color: #65c0a9;
}

.remove{
    color: rgb(255, 41, 41);
}

.sty{
    display: inline-block;
    margin-left: 10px;
    color: white;
    font-size: 12px;
    padding: 7px;
    border-radius: 12px;
}

.editorial{
    background-color: #47acf1; 
}

.q1{
    background-color: #9c72e4;
}

.recruiting{
    background-color: #65c0a9;
}

.mobile{
    background-color: #f29e34;
}

.website{
    background-color: #d863a0;
}

.sales{
    background-color: #b0c927;
}